numpy==1.26.4
tqdm
opencv-python
ffmpegcv
python_speech_features
scipy
scenedetect==0.6.1
scikit-learn
gdown
pandas
transformers==4.36.0
accelerate
datasets
google-genai
pysubs2
boto3
fastapi[standard]
pyannote-audio>=4.0.0
yt-dlp